.form-control-feedback {
	color: @gray-light;
}

.ui-widget-content {
	border: none;

	&.ui-datepicker {
		&.ui-corner-all { border-radius: 0; }
		td {
			.ui-state-default,
			.ui-state-highlight,
			.ui-state-active {
				display: inline-block;
				border-radius: 0;
				width: 100%;
			}

			.ui-state-highlight { background-color: @laranja; }
			.ui-state-hover { background-color: darken(@laranja, 20%); }

			&.tem-evento .ui-state-default {
				color: #ffffff;
				background-color: @laranja;
			}
		}
	}
}

#main-container {

}

.perfil {
	.square(150px);
	background: #fff;
	overflow: hidden;

	img {
		width  : 100%;
		height : auto;
	}
}

.imagens-perfil {
	position      : relative;
	overflow      : visible;
	margin-bottom : 80px;

	.capa {
		position            : relative;
		width               : 100%;
		height              : 200px;
		border              : 5px solid @white;
		background-color    : @laranja;
		background-repeat   : no-repeat;
		background-position : center center;
		background-size     : cover;
		overflow            : hidden;

		img {
			position: relative;
			z-index: 1;
			.img-responsive;
		}

		&:hover {
			.btn-trocar-imagem { opacity: 1; }
		}
	}

	.perfil {
		position            : absolute;
		z-index             : 2;
		bottom              : -50px;
		left                : 80px;
		width               : 150px;
		height              : 150px;
		padding             : 0;
		background-color    : @laranja;
		background-repeat   : no-repeat;
		background-position : center center;
		background-size     : cover;
		border              : 5px solid @white;
		overflow            : hidden;

		&:hover {
			.btn-trocar-imagem { opacity: 1; }
		}
	}

	.btn-trocar-imagem {
		position      : absolute;
		z-index       : 2;
		bottom        : 5px;
		right         : 5px;
		width         : 30px;
		height        : 30px;
		border-radius : 50%;
		color         : @white;
		font-size     : 18px;
		line-height   : 30px;
		text-align    : center;
		border-radius : 3px;
		background    : #000;
		background    : rgba(0,0,0,0.3);
		opacity       : 0;
		.transition(all 0.3s);

		&:hover {
			color: @laranja;
			text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
		}
	}
}

.esconde {
	display: none;
	padding: 20px;

	&.row {
		padding: 20px 0;
	}
}

.tit-area {
	margin-top: 0;
}

.conteudo-container {
	background: @white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.lista-usuarios {
	margin-top: 20px;

	li {
		min-height: 200px;

		.perfil {
			width: 100%;
			margin: 0 auto;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
	}
}

.mensagens {
	.cabecalho {
		padding-top: 5px;
		padding-bottom: 5px;
		border-color: @gray-lighter;
		border-style: solid;
		border-width: 0 0 2px 0;
		margin-bottom: 10px;

		.info {
			display: inline-block;
			width: 30%;

			&.info-assunto { width: 39%; }

			&.info-data {
				text-align: right;
			}
		}
	}

	.corpo {
		margin-bottom: 20px;
	}

	.resposta {
		color: @gray-light;
	}

	.mensagem-data {
		font-size: @font-size-small;
		font-style: italic;
		margin-bottom: 3px;
		color: @laranja;
	}
}

.fotos {
	.tabela-fotos {
		width: 100%;

		td {
			padding: 10px;
			text-align: center;
		}

		&.albuns {
			.capa-album {
				position   : relative;
				margin     : 0 auto;
				width      : 120px;
				height     : 100px;
				overflow   : hidden;

				img {
					position : absolute;
					width    : 100px;
					height   : auto;
					.box-shadow(1px 1px 1px rgba(0,0,0,0.3));

					&.img-1 {
						z-index: 3;
						top: 10px;
						left: 0;
					}

					&.img-2 {
						z-index: 2;
						top: 5px;
						left: 5px;
					}

					&.img-3 {
						z-index: 1;
						top: 0px;
						left: 10px;
					}
				}
			}
		}

		&.fotos {
			td img {
				max-width: 200px;
			}
		}
	}
}

.videos {
	.tabela-videos {
		td {
			padding-bottom: 10px;

			.thumb-video {
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: @screen-md-min){
	.videos .btn-enviar-video { margin-bottom: 20px; }
}

.chakras {
	position: relative;
	width: 100%;
	height: 343px;
	margin-top: 30px;
	background: transparent url('../img/chakras/fundo_chakras.jpg') no-repeat center top;

	.chakra {
		position: absolute;
		overflow: hidden;
		left: 50%;
		width: 50px;
		overflow: visible;

		.resumo {
			display: none;
			position: relative;
			z-index: 3;
			float: right;
			text-align: right;
			width: 200px;
			color: @gray-light;
			font-size: @font-size-small;
			background: #fff;
			padding: 5px;
		}

		.img-chakra {
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center center;
		}

		&:hover {
			width: 300px;
			.resumo { display: inline-block; }
		}

		&.chakra-1 {
			top: 283px;
			margin-left: -18px;

			.img-chakra {
				.square(35px);
				background-image: url('../img/chakras/t1p.png');
			}

			&.ativo, &:hover {
				top: 278px;

				.img-chakra {
					.square(43px);
					margin-left: -4px;
					background-image: url('../img/chakras/t1.png');
				}
			}
		}

		&.chakra-2 {
			top: 233px;
			margin-left: -22px;

			.img-chakra {
				.size(42px, 36px);
				background-image: url('../img/chakras/t2p.png');
			}

			&.ativo, &:hover {
				top: 230px;
				
				.img-chakra {
					.size(52px, 45px);
					margin-left: -4px;
					background-image: url('../img/chakras/t2.png');
				}
			}
		}

		&.chakra-3 {
			top: 186px;
			margin-left: -21px;

			.img-chakra {
				.size(39px, 37px);
				background-image: url('../img/chakras/t3p.png');
			}

			&.ativo, &:hover {
				top: 182px;
				
				.img-chakra {
					.size(49px, 46px);
					margin-left: -4px;
					background-image: url('../img/chakras/t3.png');
				}
			}
		}

		&.chakra-4 {
			top: 138px;
			margin-left: -18px;

			.img-chakra {
				.square(36px);
				background-image: url('../img/chakras/t4p.png');
			}

			&.ativo, &:hover {
				top: 134px;
				
				.img-chakra {
					.size(44px, 43px);
					margin-left: -4px;
					background-image: url('../img/chakras/t4.png');
				}
			}
		}

		&.chakra-5 {
			top: 80px;
			margin-left: -22px;

			.img-chakra {
				.square(42px);
				background-image: url('../img/chakras/t5p.png');
			}

			&.ativo, &:hover {
				top: 76px;
				
				.img-chakra {
					.size(51px, 52px);
					margin-left: -4px;
					background-image: url('../img/chakras/t5.png');
				}
			}
		}

		&.chakra-6 {
			top: 34px;
			margin-left: -22px;

			.img-chakra {
				.size(42px, 27px);
				background-image: url('../img/chakras/t6p.png');
			}

			&.ativo, &:hover {
				top: 30px;
				
				.img-chakra {
					.size(50px, 34px);
					margin-left: -4px;
					background-image: url('../img/chakras/t6.png');
				}
			}
		}

		&.chakra-7 {
			top: -30px;
			margin-left: -27px;

			.img-chakra {
				.square(55px);
				background-image: url('../img/chakras/t7p.png');
			}

			&.ativo, &:hover {
				top: -34px;
				
				.img-chakra {
					.size(69px, 68px);
					margin-left: -7px;
					background-image: url('../img/chakras/t7.png');
				}
			}
		}
	}
}

.chakra-item {
	.lista-tecnicas {
		ul {
			li {
				label {
					font-weight: normal;
				}

				&.feita {
					color: @gray-lighter;
				}
			}
		}
	}
}

.metas {
	.conteudo-container {
		margin-bottom: 30px;
	}

	.metas-container {
		display: block;

		.flex-viewport {
			width: 670px;
			margin: 0 auto;

			.slider {
				padding: 0;
			}
		}
		
		.slider {
			list-style: none;
			margin: 0;
			padding: 0 30px;

			li {
				display: inline-block;
				width: 100%;
				margin: 0;
				padding: 10px;
				vertical-align: middle;
				text-align: center;

				> div {
					position: relative;
					height: 150px;
					margin: 0;

					.link-meta {
						color: @gray-light;

						&:hover { text-decoration: none; }
					}

					img {
						margin: 0 auto;
						max-width: 100%;
					}

					.nome {
						font-size: 24px;
						text-align: center;
						padding: 20px 0 0;
					}

					.inferior {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
					}

					&.adicionar {
						padding: 5px;


						a {
							display: inline-block;
							margin-top: 50px;
						}
					}
				}

				&

				&:hover {
					background: #f4f4f4;
				}
			}
		}

		.posicao {
			width: 100%;
			height: 10px;
			background: #ebebeb;
			margin-bottom: 5px;

			.percentual {
				height: 100%;
				background: @laranja;
			}
		}

		.meta {
			text-align: center;
			color: @laranja;
			margin: 0;
		}

		.concluida {
			.posicao .percentual {
				background: @verde;
			}

			.meta { color: @verde; }
		}

		&.meta-item {
			.posicao {
				height: 22px;
				margin: 10px 0;
			}
			.meta { font-size: 22px; }
			.link-video {
				font-size: 18px;
				margin: 10px 0;
			}

			.fotos {
				margin-bottom: 20px;
			}

			.flex-viewport {
				width: 750px;
				margin: 0 auto 20px;

			}
			.slider {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					width: 140px;
					height: 90px;
					overflow: hidden;
					margin-right: 10px;

					img {
						margin: 0 auto;
						// max-height: 100%;
						max-height: 100%;
					}
				}
			}

			.notas {
				ul {
					list-style: none;
					margin: 0 0 20px;
					padding: 0;

					li {
						margin: 0 5px;
						font-size: 18px;
					}
				}
			}

			.form-nota {
				display: none;

				&.open { display: block; }
			}
		}
	}
}

.flex-direction-nav {
	a {
		font-size: 0;

		&:before {
			font-family: 'Glyphicons Halflings';
			font-size: 28px;
			content: "\e079";
		}
		&.flex-next {
			right: 0;
			opacity: 1;

			&:before { content: "\e080"; }
		}

		&.flex-prev {
			opacity: 1 !important;
			left: 0;
			&:before { content: "\e079"; }
		}

		&.flex-disabled { display: none; }
	}
}

.flexslider:hover {
	.flex-direction-nav {
		.flex-prev { left: 0; }
		.flex-next { right: 0; }
	}
}

@media screen and (min-width: @screen-sm-min){
	.metas {
		.metas-container {
			.slider {
				li {
					width: 220px;
				}
			}
		}
	}
}

.eventos {
	.calendar-header {
		h3 {
			margin: 0 0 20px 0;
		}
	}
}