.historico {
	list-style: none;
	margin: 0;
	padding: 0 20px;

	li {
		margin-bottom: 20px;

		.glyphicon {
			font-size: 18px;
			color: #b67b1e;
			vertical-align: text-bottom;
			margin-right: 10px;
		}
	}
}