#main-menu {
	width         : 100%;
	background    : @white;
	margin-bottom : 30px;
	min-height    : 40px;

	.btn-open-menu {
		display: inline-block;
		height: 40px;
		line-height: 46px;
		font-size: 24px;
	}

	ul {
		.make-row;
		padding       : 0;
		margin-bottom : 0;
		list-style    : none;
		text-align    : center;

		li {
			display : none;
			width   : 100%;
			height  : 40px;

			a {
				display        : inline-block;
				height         : 60px;
				font-size      : 15px;
				line-height    : 60px;
				text-transform : uppercase;
				padding        : 0 15px;
				color          : #000;

				&:hover, &.active {
					color: @link-color;
					text-decoration: none;
				}
			}
		}
	}
}

@media screen and (min-width: @screen-sm-min){
	#main-menu ul li {
		width: 100%;
	}
}

@media screen and (min-width: @screen-md-min){
	#main-menu ul li {
		display : inline-block;
		height  : 60px;
		width   : auto;
	}
}